.contactsBlock {
    height: 100vh;
    background-color: #fde1e1;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.contactsContainer > a {
    width: max-content;
    text-decoration: none;
    color: black;
    background-color: #929292;
    padding: 10px;
    margin: 50px;
}

.contactsContainer > a:hover {
    text-decoration: none;
    box-shadow: 0 0 5px 5px coral;
    background-color: #929292;
    cursor: pointer;
}

.formBlock {
    display: flex;
    flex-direction: inherit;
    width: 50%;
    min-width: 280px;
    max-width: 350px;
    gap: 15px;
}

.title {
    background-color: chocolate;
}