.skill {
    width: 250px;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #eeeef5;
}

.title {
    background-color: cadetblue;
}

.description {
    text-align: center;
    background-color: chocolate;
}