@import "./src/common/styles/sass/variables";

.titleBlock {
    margin: 4rem 0;
    width: 100%;
    display: block;
    text-align: left;
    .title {
        color: $textPrimaryColor;
        font-size: 2.4rem;
        font-family: "Oswald", Helvetica, sans-serif;
        font-weight: 400;
        font-style: initial;
        letter-spacing: 0;
        background-color: $primaryColor;
        display: inline-block;
        position: relative;
        margin: 0 0 0 -1rem;
        padding: 1rem 2rem 1rem 7.8rem;
        line-height: 1.1em;
        text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .1);
        &::after {
            box-sizing: border-box;
            display: block;
            width: 1rem;
            height: 0;
            position: absolute;
            bottom: -1rem;
            left: 0;
            content: "";
            border-bottom: 1rem solid transparent;
            z-index: 0;
            border-right: 1rem solid #000;
            opacity: .12;
        }
        &::before {
            box-sizing: border-box;
            display: block;
            width: 1rem;
            height: 0;
            position: absolute;
            bottom: -1rem;
            left: 0;
            content: "";
            border-bottom: 1rem solid transparent;
            border-right: 1rem solid $primaryColor;
            z-index: 0;
        }
    }
    .titleDescription {
        display: inline-block;
        margin: 0 0 0 1.5rem;
        font-size: 1.4rem;
        font-weight: 200;
        color: $textSecondaryColor;
    }
}






