.mainBlock {
    min-height: 100vh;
}

.text {
    width: 300px;
    background-color: aquamarine;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: chocolate;
}

.container {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /*border: 1px solid;*/
    flex-wrap: wrap;
}

@media screen and (max-width: 770px) {
    .container {
        justify-content: center;
    }
}