@import "./variables";

@mixin text($font-family: "Oswald", $font-size: initial, $line-height: initial, $color: $textPrimaryColor) {
  font-family: $font-family, Helvetica, sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

//@mixin font($font-family: "Oswald") {
//  font-family: $font-family, Helvetica, sans-serif;
//}