//common color
$primaryColor: #ffcd38;

//text color
$textPrimaryColor: #fff;
$textSecondaryColor: #b5b5b5;
$textThirdColor: #d5d5d5;

//background color
$bgPrimaryColor: rgba(34, 34, 34, 1);
$bgSecondaryColor: #333;

//fonts
$primaryFont: "Oswald", Helvetica, sans-serif;
$secondaryFont: "PT Sans", Helvetica, sans-serif;

//screen's width

$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 2560px;

