.footer {
    background-color: #99d0fb;
    display: flex;
    align-self: flex-end;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: chocolate;
}

.contactsBlock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

@media screen and (min-width: 320px) {
    .contactsBlock {
        width: 250px;
    }
}