.projectsBlock {
    min-height: 100vh;
    background-color: #F1E2FF;
    max-height: max-content;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

}

.title {
    background-color: bisque;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}